body{
  background-color: #fff;
}
li{
  list-style: none;
}
header{
  background-color:  #323232;

  ul{
    display: flex;
    justify-content: center;

    li{
      display: flex;
      align-items: center;
      padding: 10px 10px 0 10px;
    }
    a{
      color: #fff;
      text-decoration: none;
      &:hover{
        color: #2eb398;
      }
    }
  }
}
.triangle-down {
  width: 0;
  height: 0;
  margin: -30px auto;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  border-top: 30px solid #323232;
  color: #000;
  display: inline-block;
}
.grid{
  padding: 120px 0;
}
header{
  position: fixed;
  width: 100%;
  z-index: 999999999;
  text-align: center;
}
.about{
  background-color: #2eb398;
  h2{
    color: #fff;
  }
  p{
    color: #fff;
  }
  h3{
    color: #20816d;
  }
  .container>div{
      padding: 65px 20px;
      display: table;
      div{
        display: table-cell;
        vertical-align: top;
        padding: 0 0 0 17px;

        p{
          padding: 20px 0 0 0;
        }
      }
      img{
        display: table-cell;
      }
    .social{
      display: flex;
      justify-content: flex-end;
      padding: 35px 0 0 0;
    }
  }
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}