body{
  background-color: #fff;
}
li{
  list-style: none;
}
header{
  background-color:  #323232;

  ul{
    display: flex;
    justify-content: center;

    li{
      display: flex;
      align-items: center;
      padding: 10px 10px 0 10px;
    }
    a{
      color: #fff;
      text-decoration: none;
      &:hover{
        color: #2eb398;
      }
    }
  }
}
.triangle-down {
  width: 0;
  height: 0;
  margin: -30px auto;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  border-top: 30px solid #323232;
  color: #000;
  display: inline-block;
}
.grid{
  padding: 120px 0;
}
header{
  position: fixed;
  width: 100%;
  z-index: 999999999;
  text-align: center;
}
.about{
  background-color: #2eb398;
  h2{
    color: #fff;
  }
  p{
    color: #fff;
  }
  h3{
    color: #20816d;
  }
  .container{
    padding: 30px 20px;
  }
  .container>div{
      padding: 0 20px;
      display: table;
      border-left: 1px solid #219d84;
      border-right: 1px solid #219d84;
      div{
        display: table-cell;
        vertical-align: top;
        padding: 0 0 0 17px;

        p{
          padding: 20px 0 0 0;
        }
      }
      img{
        display: table-cell;
      }
    .social{
      display: flex;
      justify-content: flex-end;
      padding: 35px 0 0 0;
    }
  }
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
footer{
  background-color: #323232;
  color: #fff;
  padding: 65px 0;
  @media screen and (orientation: landscape){
    padding: 20px;
  }
  i{
    color: #2eb398;
  }
  form{
    display: inline-block;
    width: 50%;
    @media screen and (orientation: landscape){
      display: block;
      width: 100%;
    }
  }
  form+div{
    display: inline-block;
    width: 47%;
    @media screen and (orientation: landscape){
      display: block;
      width: 100%;
    }
  }
  i{
    padding: 0 8px 10px 0;
  }
  .container>div{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    @media screen and (orientation: landscape){
      display: block;
    }
    section{
      padding: 15px 0 0 0;
      @media screen and (orientation: landscape){
        padding: 40px 0;
      }
    }
  }
  input{
    background-color: #454545;
    display: block;
    border: none;
    width: 100%;
    padding: 10px 5px;
    margin:0 0 15px 0;
  }
  textarea{
    background-color: #454545;
    display: block;
    border: none;
    width: 100%;
    padding: 10px 5px;
  }
}
